@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&family=Oswald:wght@300&family=Playfair+Display:ital,wght@0,400;0,500;0,600;1,700&family=Quicksand:wght@400;500;600;700&family=Roboto:wght@400;500;700;900&family=Spectral:ital,wght@0,400;0,600;0,800;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,400;0,600;0,700;1,400;1,700&family=Open+Sans:wght@300;400;600;700;800&family=Oswald:wght@300&family=Playfair+Display:ital,wght@0,400;0,500;0,600;1,700&family=Quicksand:wght@400;500;600;700&family=Roboto:wght@400;500;700;900&family=Spectral:ital,wght@0,400;0,600;0,800;1,800&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.sider {
  display: none;
}

body {
  background-color: #f1f1f1;
  font-family: "Cormorant Garamond";
}

.container {
  width: 1200px;
  margin: 0 auto;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.flex {
  display: flex;
}

.align-start {
  align-items: flex-start;
}

.align-center {
  align-items: center;
}

.align-stretch {
  align-items: stretch;
}

.justify-start {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-between;
}

.justify-evely {
  justify-content: space-evenly;
}

header#header {
  padding: 2rem 0;
}

header#header ul {
  color: black;
  font-size: 15px;
  font-weight: 400;
  gap: 2rem;
  transition: opacity 0.5s ease;
}

.text {
  font-weight: 600;
  font-size: 16px;
  color: black;
  line-height: 26px;
  text-align: center;
  transform: translate(40px, 0px);
}

.master {
  font-size: 40px;
  color: #fff;
}

.servis {
  background: darkgray;
  height: 59px;
  padding: 20px;
  border-radius: 5px;
  transform: translate(18px, 0px);
}

.servis ul:hover {
  opacity: 0.7;
}

.servis img {
  width: 65px;
  transform: translate(-810px, 0px);
}

.Inport {
  background-image: url(/images/foto1.jpg);
  width: 1200px;
  height: 550px;
  border-radius: 5px;
  background-position: center;
  background-size: cover;
  transform: translate(18px, 0px);
}

.portion h1 {
  width: 400px;
  font-weight: 900;
  font-size: 40px;
  line-height: 36px;
  color: black;
  text-align: center;
  padding: 8rem 0;
  margin-left: 579px;
}

section#show {
  margin-bottom: 80px;
}

.portion p {
  width: 450px;
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  color: black;
  text-align: center;
  margin-left: 555px;
  transform: translate(0px, -85px);
}

.portion i {
  color: teal;
}

.biz {
  color: rgb(20, 20, 145);
  font-weight: 500;
  font-size: 46px;
  line-height: 56px;
}

.haqimizda {
  color: rgba(199, 199, 40, 0.795);
  font-weight: 800;
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 20px;
  transform: translate(16px, 0px);
}

.malumot {
  width: 540px;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: black;
  padding: 20px 0;
  margin-left: 10px;
  text-align: inherit;
}

.logistika {
  width: 500px;
  height: 250px;
}

.masteri img {
  width: 600px;
  height: 350px;
  border-radius: 20px;
  margin-left: 585px;
  transform: translate(16px, -455px);
  border: 5px solid cadetblue;
}

.bojhona {
  display: flex;
}

.btn {
  all: unset;
  background: cadetblue;
  color: black;
  display: inline-block;
  padding: 8px 38px;
  border-radius: 16px;
  margin-left: 22px;
  font-weight: 600;
  box-shadow: 1px 0px 15px;
}

.xizmatlar {
  display: flex;
  transform: translate(-15px, 10px);
}

section#master h1 {
  font-weight: 900;
  font-size: 36px;
  line-height: 56px;
  text-align: center;
  color: cadetblue;
  transform: translate(10px, -280px);
}

.bottom h1 {
  font-weight: 900;
  font-size: 36px;
  line-height: 56px;
  text-align: center;
  color: rgba(0, 0, 0, 0.73);
  padding: 2rem 0;
}

.bottom h2 {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: rgb(38, 72, 72);
  text-align: center;
}

.bottom p {
  width: 850px;
  text-align: center;
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  padding: 1rem 5rem;
  transform: translate(-48px, 10px);
}

.text2 {
  width: 740px;
  font-size: 12px;
  text-align: justify;
  transform: translate(-48px, 10px);
  margin-bottom: 20px;
}

.bottom {
  width: 800px;
  padding: 8px 16px;
  border: 5px solid darkgrey;
}

.bottom a {
  all: unset;
  background: darkgrey;
  color: black;
  display: inline-block;
  padding: 8px 28px;
  border-radius: 6px;
  margin-left: 265px;
}

.body2 {
  padding: 5rem 3rem;
  background: grey;
}

.text2 span {
  color: #fff;
}

.beton {
  width: 380px;
  height: 250px;
  gap: 35px;
  transform: translate(11px, -250px);
  margin-left: 25px;
  border-radius: 10px;
  box-shadow: 1px 1px 15px;
  padding: 2rem 1rem;
  border: 5px solid cadetblue;
}

.xizmat-turi {
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  color: black;
  text-align: inherit;
  transform: translate(48px, -220px);
}

.chiziq {
  margin-left: 120px;
  transform: translate(10px, -50px);
}

.xizmat-haqida {
  width: 350px;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  text-align: inherit;
  color: grey;
  transform: translate(50px, -210px);
}

section#logistika {
  margin-bottom: 100px;
}

.klent h5 {
  font-weight: 900;
  font-size: 48px;
  line-height: 56px;
  text-align: center;
  color: cadetblue;
  margin-bottom: 20px;
}

.homiylar {
  display: flex;
  transform: translate(-80px, 10px);
}

.homiy {
  width: 35%;
  margin-left: 180px;
  margin-bottom: 35px;
  border-radius: 35px;
  border: solid 2px cadetblue;
  box-shadow: 1px 1px 10px;
}

.bnt {
  all: unset;
  background: cadetblue;
  color: black;
  font-weight: 700;
  display: inline-block;
  padding: 8px 38px;
  border-radius: 16px;
  font-weight: 600;
  margin-left: 550px;
  margin-top: 25px;
  box-shadow: 1px 0px 15px;
}

.karta h6 {
  font-weight: 900;
  font-size: 36px;
  line-height: 26px;
  text-align: center;
  padding: 2rem 0;
  color: #fff;
}

.manzil {
  display: flex;
  margin-bottom: 20px;
  transform: translate(75px, 10px);
}

.manzil p {
  width: 270px;
  text-align: inherit;
  color: #fff;
  margin-left: 20px;
}

.boglanish i {
  color: darkslategrey;
  transform: translate();
}

.logosi {
  width: 1200px;
  background-image: url(/images/footer\ foto.jpg);
  border-radius: 10px;
}

.boglanish span {
  margin: 26px;
  color: #fff;
  display: flex;
  transform: translate(0px, -20px);
}

.tarmoq {
  display: flex;
  margin-bottom: 20px;
  transform: translate(75px, 10px);
}

.tarmoq p {
  width: 110px;
  text-align: center;
  color: #fff;
  margin-left: -10px;
}

.tell {
  display: flex;
  transform: translate(75px, 10px);
  margin-bottom: 45px;
}

.tell p {
  width: 180px;
  text-align: center;
  color: #fff;
  margin-left: -20px;
}

.boglanish {
  width: 400px;
  height: 350px;
  background: cadetblue;
  border-radius: 10px;
  margin-left: 20px;
  box-shadow: 1px 1px 10px;
}

.croy {
  display: flex;
  gap: 10px;
  transform: translate(-22px, -70px);
}

.telegram {
  display: flex;
  gap: 20px;
  transform: translate(150px, 40px);
  padding: 8px 18px;
  border: 1px solid darkslategrey;
  width: 30px;
  border-radius: 10px;
}

.telegram i {
  transform: translate(-8px, 1px);
}

.insta {
  display: flex;
  gap: 20px;
  transform: translate(150px, 40px);
  padding: 8px 18px;
  border: 1px solid darkslategrey;
  width: 30px;
  border-radius: 10px;
}

.insta i {
  transform: translate(-8px, 1px);
}

.book {
  display: flex;
  gap: 20px;
  transform: translate(140px, 40px);
  padding: 8px 18px;
  border: 1px solid darkslategrey;
  width: 30px;
  border-radius: 10px;
}

.book i {
  transform: translate(-28px, 1px);
}

.lakatsiya {
  transform: translate(469px, -350px);
  border-radius: 20px;
  box-shadow: 1px 1px 10px;
}

.tugadildi img {
  width: 100px;
  margin-left: 66px;
  padding: 1rem 0;
  margin-left: 10px;
}

.logosi p {
  font-weight: 400;
  font-size: 18px;
  color: #fff;
  line-height: 32px;
  text-align: inherit;
  margin-bottom: 30px;
  margin-left: 31px;
}

.logosi h3 {
  font-size: 22px;
  margin-left: -50px;
  font-weight: 700;
}

.logosi h2 {
  text-align: center;
  font-weight: 600;
  margin-top: 85px;
}

.people {
  width: 520px;
  padding: 10rem;
  color: #fff;
  margin-left: -820px;
}

.transport {
  display: flex;
  margin-left: -600px;
  gap: 20px;
  margin-top: 370px;
}

.gruppa {
  padding: 18px 20px;
  border: 2px solid black;
  width: 30px;
  height: 25px;
  border-radius: 10px;
}

.gruppa i {
  font-size: 22px;
  transform: translate(-11px, -11px);
}

.odno {
  padding: 18px 20px;
  border: 2px solid black;
  width: 30px;
  height: 25px;
  border-radius: 10px;
}

.odno i {
  font-size: 22px;
  transform: translate(-11px, -11px);
}

.booking {
  padding: 18px 20px;
  border: 2px solid black;
  width: 30px;
  height: 25px;
  border-radius: 10px;
  margin-left: -25px;
}

.booking i {
  font-size: 22px;
  transform: translate(-11px, -11px);
}

.people h2 {
  font-weight: 600;
  font-size: 20px;
}

.girls h2 {
  font-weight: 600;
  font-size: 20px;
}

.people p {
  text-align: inherit;
  margin-left: 1px;
  margin-bottom: 10px;
}

.girls {
  padding: 10rem;
  color: #fff;
  margin-left: -255px;
}

.girls p {
  text-align: inherit;
  margin-left: 1px;
  margin-bottom: 10px;
}

.rial {
  display: flex;
  gap: 30px;
  margin-left: 30px;
  color: goldenrod;
  margin-bottom: 25px;
}

.telefon {
  padding: 8px 18px;
  border: 1px solid black;
  width: 30px;
  border-radius: 10px;
  transform: translate(1px, 25px);
}

.tele {
  padding: 8px 18px;
  border: 1px solid black;
  width: 30px;
  border-radius: 10px;
  transform: translate(1px, 25px);
}

.instagram {
  padding: 8px 18px;
  border: 1px solid black;
  width: 30px;
  border-radius: 10px;
  transform: translate(1px, 25px);
}

.rial i {
  transform: translate(-8px, 1px);
  color: black;
}

.footer-col {
  transform: translate(10px, -250px);
}

.footer-col {
  transform: translate(10px, -180px);
}

.footer-col h1 {
  font-weight: 400;
  font-size: 22px;
  line-height: 16px;
  color: blue;
  text-align: center;
  margin-bottom: 10px;
  transform: translate(10px, -55px);
}

.menyula {
  transform: translate(575px, -50px);
  gap: 20px;
}

.menyula li {
  margin-bottom: 11px;
  text-align: inherit;
}

.tugadildi .girls a:hover {
  color: black;
  padding-left: 10px;
}

.xizmat-turi i {
  margin-left: 10px;
  color: teal;
}

.xizmat-haqida i {
  color: teal;
  margin-left: 10px;
  font-size: 17px;
}

.xizmat-haqida span {
  color: teal;
}

.people p:hover {
  color: black;
  padding-left: 10px;
}

.tugadildi {
  display: flex;
  width: 1200px;
  height: 480px;
  border-radius: 10px;
  transform: translate(21px, 0px);
}

.footer-col1 h2 {
  font-weight: 400;
  font-size: 22px;
  line-height: 16px;
  color: blue;
  text-align: center;
  margin-bottom: 10px;
  margin-left: 590px;
  transform: translate(10px, -370px);
}

.footer-col1 ul li p:hover {
  color: #fff;
  padding-left: 10px;
}

.manzilimiz {
  display: flex;
  transform: translate(75px, 10px);
}

.manzilimiz p {
  width: 280px;
  text-align: inherit;
  margin-left: 20px;
}

.tarmoqlarimiz {
  display: flex;
  transform: translate(75px, 10px);
}

.menyula i {
  color: goldenrod;
  padding: 8px 0px;
}

.tarmoqlarimiz p {
  width: 100px;
  text-align: inherit;
  margin-left: 20px;
}

.telling {
  display: flex;
  transform: translate(75px, 10px);
}

.telling p {
  width: 180px;
  text-align: inherit;
  margin-left: 20px;
}

.inspeksiya i {
  color: goldenrod;
}

.inspeksiya {
  transform: translate(760px, -375px);
}

.tugadildi span {
  margin: 30px;
}

.rastameks {
  font-weight: 400;
  font-size: 18px;
  align-items: center;
  color: blue;
  text-align: center;
  transform: translate(-380px, -80px);
}

.qonun {
  text-align: center;
  transform: translate(1px, 50px);
}

.servis i {
  display: none;
}

.nav i {
  display: none;
}

.work {
  display: flex;
  gap: 10px;
  margin-left: 580px;
  margin-top: 40px;
}

.work i {
  display: flex;
  gap: 10px;
  font-size: 22px;
  margin-left: -10px;
}

.working {
  display: flex;
  gap: 25px;
  padding: 18px 27px;
  border: 2px solid black;
  width: 30px;
  border-radius: 100px;
}

.odnokilas {
  display: flex;
  gap: 25px;
  padding: 18px 27px;
  border: 2px solid black;
  width: 30px;
  border-radius: 100px;
  margin-left: 10px;
}

.boon i {
  margin-left: -35px;
}

.boon {
  display: flex;
  gap: 25px;
  padding: 18px 27px;
  border: 2px solid black;
  width: 30px;
  border-radius: 100px;
}

.footer {
  margin-bottom: 5px;
}

.himoyalangan {
  margin-left: 520px;
  margin-top: 20px;
}

@media only screen and (max-width: 430px) {
  .nav a {
    display: none;
  }
  .servis i {
    display: block;
  }
  /*.tugadildi {
   width: 1200px;
    margin-left: 25px;
    height: 550px;
  } */
}
@media only screen and (max-width: 430px) and (max-width: 400px) {
  .container {
    width: 1000px;
  }
}
@media only screen and (max-width: 430px) {
  .sider {
    display: block;
  }
}
@media only screen and (max-width: 430px) {
  .nav i {
    display: block;
  }
}
@media only screen and (max-width: 430px) {
  .portion h1 p {
    font-size: 3.5rem;
    padding-bottom: 1.5rem;
  }
}
@media only screen and (max-width: 430px) {
  .servis {
    width: 1405px;
    position: fixed;
    z-index: 17;
    height: 130px;
    border-radius: 10px;
    margin-left: -8px;
    box-shadow: 1px 1px 35px;
  }
}
@media only screen and (max-width: 430px) {
  .servis i {
    font-size: 85px;
  }
}
@media only screen and (max-width: 430px) {
  .nav i {
    transform: translate(100px, -2px);
    font-size: 45px;
  }
}
@media only screen and (max-width: 430px) {
  .servis img {
    width: 150px;
    transform: translate(120px, 1px);
  }
}
@media only screen and (max-width: 430px) {
  .Inport {
    width: 1380px;
    height: 620px;
    background-image: url(/images/foto1.jpg);
    background-position: center;
    background-size: cover;
    box-shadow: 1px 1px 15px;
    margin-left: -5px;
    margin-top: 130px;
  }
}
@media only screen and (max-width: 430px) {
  .portion h1 {
    text-align: center;
    font-size: 85px;
    line-height: 80px;
    font-weight: 600;
    margin-left: 350px;
    transform: translate(0px, -35px);
  }
}
@media only screen and (max-width: 430px) {
  .portion p {
    font-size: 55px;
    line-height: 66px;
    font-weight: 600;
    color: black;
    width: 1200px;
    margin-top: -35px;
    margin-left: 100px;
  }
}
@media only screen and (max-width: 430px) {
  .text {
    transform: translate(110px, -1px);
    font-size: 70px;
    font-weight: 600;
  }
}
@media only screen and (max-width: 430px) {
  .biz {
    text-align: center;
    font-size: 120px;
    font-weight: 600;
    color: black;
    margin-bottom: 30px;
  }
}
@media only screen and (max-width: 430px) {
  .haqimizda {
    color: black;
    font-size: 45px;
    margin-left: 35px;
  }
}
@media only screen and (max-width: 430px) {
  .masteri img {
    display: none;
    /* width: 650px;
    height: 350px;
    display: grid;
    transform: translate(-290px, -50px);
    box-shadow: 1px 1px 22px;
    color: black; */
  }
}
@media only screen and (max-width: 430px) {
  .malumot {
    width: 1250px;
    font-size: 60px;
    line-height: 68px;
    text-align: center;
    margin-left: 40px;
  }
}
@media only screen and (max-width: 430px) {
  .malumot span {
    display: none;
    margin-top: 30px;
    margin-left: -70px;
  }
}
@media only screen and (max-width: 430px) {
  .btn {
    padding: 30px 50px;
    margin: 5px;
    font-size: 45px;
    margin-bottom: 10px;
    background: darkgrey;
    color: black;
    margin-left: 100px;
    margin-top: 35px;
  }
}
@media only screen and (max-width: 430px) {
  section#master h1 {
    width: 650px;
    text-align: center;
    font-size: 120px;
    transform: translate(370px, -220px);
    margin-bottom: 100px;
    color: black;
  }
}
@media only screen and (max-width: 430px) {
  .xizmatlar {
    margin: 2rem 0;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 4rem;
    margin-left: 20px;
  }
}
@media only screen and (max-width: 430px) {
  section#master {
    transform: translate(1px, 320px);
  }
}
@media only screen and (max-width: 430px) {
  .beton {
    border: 5px solid grey;
    width: 800px;
    height: 480px;
    margin-left: 310px;
    box-shadow: 1px 1px 35px;
  }
}
@media only screen and (max-width: 430px) {
  .xizmat-turi {
    width: 1000px;
    line-height: 65px;
    font-size: 68px;
    margin-left: 205px;
    text-align: inherit;
    margin-bottom: 15px;
  }
}
@media only screen and (max-width: 430px) {
  .xizmat-turi i {
    color: black;
  }
}
@media only screen and (max-width: 430px) {
  .xizmat-haqida span {
    color: black;
    font-weight: bold;
  }
}
@media only screen and (max-width: 430px) {
  .xizmat-haqida {
    width: 1300px;
    text-align: center;
    margin-left: 20px;
    font-size: 55px;
    line-height: 65px;
    color: black;
    margin-bottom: 50px;
  }
}
@media only screen and (max-width: 430px) {
  .xizmat-haqida i {
    color: black;
    display: none;
    font-size: 45px;
  }
}
@media only screen and (max-width: 430px) {
  section#logistika {
    transform: translate(-100px, 100px);
  }
}
@media only screen and (max-width: 430px) {
  .klent {
    width: 100px;
  }
}
@media only screen and (max-width: 430px) {
  .homiy {
    width: 500px;
    height: 280px;
    border: 5px solid grey;
    margin-top: 50px;
    box-shadow: 1px 1px 25px;
  }
}
@media only screen and (max-width: 430px) {
  .homiylar {
    display: flex;
    margin-left: -30px;
  }
}
@media only screen and (max-width: 430px) {
  .bnt {
    padding: 30px 50px;
    margin-bottom: -10px;
    font-size: 45px;
    margin-left: 520px;
    background: darkgrey;
    color: black;
  }
}
@media only screen and (max-width: 430px) {
  section#garden {
    transform: translate(-300px, 100px);
  }
}
@media only screen and (max-width: 430px) {
  .klent h5 {
    width: 1200px;
    font-size: 120px;
    margin-left: 50px;
    font-weight: 600;
    color: black;
  }
}
@media only screen and (max-width: 430px) {
  .boglanish {
    display: none;
    /* background-image: url(/images/Contact-Us-Image.jpg);
    align-items: center;
    background-position: center;
    background-size: cover;
    width: 980px;
    margin-left: 450px;
    height: 500px;
    margin-bottom: 100px; */
  }
}
@media only screen and (max-width: 430px) {
  .boglanish h6 {
    text-align: center;
    font-size: 90px;
    color: black;
    margin-bottom: 10px;
    margin-left: -100px;
    font-weight: 500;
  }
}
@media only screen and (max-width: 430px) {
  .karta .lakatsiya {
    display: none;
    /* width: 1150px;
    transform: translate(415px, -50px);
    height: 450px;
    border-radius: 20px; */
  }
}
@media only screen and (max-width: 430px) {
  .manzil {
    transform: translate(280px, 0px);
  }
}
@media only screen and (max-width: 430px) {
  .tarmoq {
    transform: translate(280px, 0px);
  }
}
@media only screen and (max-width: 430px) {
  .tell {
    transform: translate(280px, 0px);
  }
}
@media only screen and (max-width: 430px) {
  .boglanish i {
    font-size: 35px;
    color: black;
  }
}
@media only screen and (max-width: 430px) {
  .manzil a p {
    font-size: 40px;
    color: black;
    width: 600px;
  }
}
@media only screen and (max-width: 430px) {
  .tarmoq p {
    font-size: 40px;
    margin-left: 15px;
    color: black;
  }
}
@media only screen and (max-width: 430px) {
  .tell p {
    font-size: 40px;
    margin-left: 15px;
    width: 300px;
    color: black;
  }
}
@media only screen and (max-width: 430px) {
  .boglanish span {
    color: black;
    margin-left: 300px;
  }
}
@media only screen and (max-width: 430px) {
  .croy {
    margin-left: 270px;
  }
}
@media only screen and (max-width: 430px) {
  .lakatsiya {
    width: 630px;
    height: 350px;
  }
}
@media only screen and (max-width: 430px) {
  .footer-col {
    margin: 2rem 0;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
    transform: translate(-510px, -100px);
  }
}
@media only screen and (max-width: 430px) {
  .footer-col1 h2 {
    transform: translate(33px, -380px);
  }
}
@media only screen and (max-width: 430px) {
  .footer-col h1 {
    transform: translate(50px, -60px);
  }
}
@media only screen and (max-width: 430px) {
  .footer-col1 {
    transform: translate(-590px, 20px);
  }
}
@media only screen and (max-width: 430px) {
  .rial {
    transform: translate(10px, 175px);
  }
}
@media only screen and (max-width: 430px) {
  .qonun {
    transform: translate(0px, 180px);
  }
}
@media only screen and (max-width: 430px) {
  .transport {
    margin-left: -450px;
    margin-top: 670px;
  }
}
@media only screen and (max-width: 430px) {
  .logosi h3 {
    font-size: 40px;
    color: black;
    margin-top: -15px;
    margin-left: -120px;
  }
}
@media only screen and (max-width: 430px) {
  .people h2 {
    margin-top: 50px;
  }
}
@media only screen and (max-width: 430px) {
  .tugadildi img {
    width: 170px;
    margin-left: 300px;
  }
}
@media only screen and (max-width: 430px) {
  .rastameks {
    font-size: 22px;
    transform: translate(55px, -115px);
  }
}
@media only screen and (max-width: 430px) {
  .bottom h1 {
    font-size: 100px;
    transform: translate(10px, 10px);
  }
}
@media only screen and (max-width: 430px) {
  .bottom h2 {
    font-size: 35px;
    color: black;
    transform: translate(20px, 10px);
  }
}
@media only screen and (max-width: 430px) {
  .bottom p {
    width: 900px;
    text-align: center;
    margin-left: -20px;
  }
}
@media only screen and (max-width: 430px) {
  .bottom a {
    transform: translate(50px, 0px);
  }
}
@media only screen and (max-width: 430px) {
  footer {
    transform: translate(1px, 100px);
  }
}
@media only screen and (max-width: 430px) {
  .tugadildi p {
    font-size: 25px;
    text-align: inherit;
    margin-left: 15px;
    transform: translate(1px, -50px);
  }
}
@media only screen and (max-width: 430px) {
  .menyula {
    margin-left: -45px;
    font-size: 12px;
  }
}
@media only screen and (max-width: 430px) {
  .telegram i {
    transform: translate(-15px, 1px);
  }
}
@media only screen and (max-width: 430px) {
  .insta i {
    transform: translate(-15px, 1px);
  }
}
@media only screen and (max-width: 430px) {
  .book i {
    transform: translate(-36px, 1px);
  }
}
@media only screen and (max-width: 430px) {
  .girls {
    margin-top: 300px;
  }
}
@media only screen and (max-width: 430px) {
  .girls h2 {
    font-size: 30px;
    transform: translate(12px, -60px);
  }
}
@media only screen and (max-width: 430px) {
  .people {
    margin-top: 250px;
    margin-left: -1100px;
  }
}
@media only screen and (max-width: 430px) {
  .people h2 {
    font-size: 30px;
    transform: translate(12px, -60px);
  }
}
@media only screen and (max-width: 430px) {
  .logosi {
    width: 1350px;
    box-shadow: 1px 1px 30px;
    height: 800px;
    background-image: url(/images/shutterstock_1011269995.jpg);
    background-size: cover;
    background-position: center;
  }
}
@media only screen and (max-width: 430px) {
  .logosi p {
    margin-left: 380px;
    font-size: 35px;
    line-height: 40px;
  }
}
@media only screen and (max-width: 430px) {
  .telegram {
    padding: 10px 25px;
  }
}
@media only screen and (max-width: 430px) {
  .insta {
    padding: 10px 25px;
  }
}
@media only screen and (max-width: 430px) {
  .book {
    padding: 10px 25px;
  }
}
@media only screen and (max-width: 430px) {
  .gruppa {
    padding: 25px 25px;
    border: 3px solid white;
  }
}
@media only screen and (max-width: 430px) {
  .odno {
    padding: 25px 25px;
    border: 3px solid white;
  }
}
@media only screen and (max-width: 430px) {
  .booking {
    padding: 25px 25px;
    border: 3px solid white;
  }
}
@media only screen and (max-width: 430px) {
  .transport i {
    font-size: 35px;
    margin-left: -5px;
    color: white;
    margin-top: -5px;
  }
}
@media only screen and (max-width: 430px) {
  .logosi h2 {
    font-size: 45px;
    margin-left: 25px;
    color: white;
    margin-top: -45px;
  }
}
@media only screen and (max-width: 430px) {
  header#header .sider .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background-color: rgba(130, 124, 124, 0.891);
    box-shadow: 0 0 20px grey;
    transform: translateX(-100%);
    padding: 1rem;
    z-index: 9999;
    transition: transform 0.3s ease-in;
  }
}
@media only screen and (max-width: 430px) {
  header#header .sider .sidebar li {
    padding: 1rem;
    margin-top: 1rem;
    font-size: 36px;
    color: black;
    background-color: grey;
    border-radius: 20px;
    transition: all 0.3s ease-in;
  }
}
@media only screen and (max-width: 430px) {
  header#header .sider .sidebar li:hover {
    background-color: rgba(0, 0, 0, 0.4);
    text-indent: 1rem;
  }
}
@media only screen and (max-width: 430px) {
  header#header .sider input[type=checkbox]:checked + .sidebar {
    transform: translateX(0);
  }
}
@media only screen and (max-width: 430px) {
  .tugadildi span {
    margin: 130px;
    color: white;
    display: inline-block;
    margin-top: 200px;
  }
}
@media only screen and (max-width: 430px) {
  .work {
    margin-left: 245px;
  }
}
@media only screen and (max-width: 430px) {
  .work i {
    font-size: 35px;
    margin-left: -16px;
  }
}
@media only screen and (max-width: 430px) {
  .working {
    margin-bottom: 30px;
    border: 5px solid rgba(244, 244, 251, 0.29);
    font-size: 40px;
    padding: 30px 38px;
    border-radius: 20px;
    text-align: center;
    background: rgba(121, 118, 118, 0.68);
    margin-left: 0;
    margin-top: 22px;
  }
}
@media only screen and (max-width: 430px) {
  .odnokilas {
    margin-bottom: 30px;
    border: 5px solid rgba(244, 244, 251, 0.29);
    font-size: 40px;
    padding: 30px 38px;
    border-radius: 20px;
    text-align: center;
    background: rgba(121, 118, 118, 0.68);
    margin-left: 10;
    margin-top: 22px;
  }
}
@media only screen and (max-width: 430px) {
  .boon {
    margin-bottom: 30px;
    border: 5px solid rgba(244, 244, 251, 0.29);
    font-size: 40px;
    padding: 30px 38px;
    border-radius: 20px;
    text-align: center;
    background: rgba(121, 118, 118, 0.68);
    margin-left: 0;
    margin-top: 22px;
  }
}
@media only screen and (max-width: 430px) {
  .boon i {
    margin-left: -41px;
  }
}
@media only screen and (max-width: 430px) {
  .work p {
    width: 200px;
    font-size: 25px;
    font-weight: 500;
    margin-top: -20px;
    text-align: inherit;
  }
}
@media only screen and (max-width: 430px) {
  .active a {
    color: rgba(199, 20, 20, 0.916);
    font-weight: 800;
  }
}
@media only screen and (max-width: 430px) {
  .himoyalangan {
    width: 580px;
    font-size: 30px;
    font-weight: 600;
    margin-left: 120px;
    margin-top: -20px;
  }
}
@media only screen and (max-width: 430px) {
  .body2 {
    height: 320px;
  }
}/*# sourceMappingURL=style.css.map */